@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* телефончики */
  h1{
    color: #3F3333;
    font-family: Rainer;
    font-size: 117px;
    line-height: 120px;
    width: 89%;
    position: relative;
    padding-top: 35%;
    padding-left: 3%;
    }
    p{
      font-family: Craftwork;
    }
  h1+p{
    font-family: Craftwork;
    font-size: 14px;
    position: relative;
    color: #3F3333;
    padding-top: 5%;
    padding-left: 3%;
    }
    h2+p{
      font-family: Craftwork;
      font-size: 14px;
      width: 66%;
      padding-left: 11%;
      padding-top: 6%;
      line-height: 22px;
      color: #3F3333;
    }
  p+p{
    font-family: Craftwork;
    font-size: 14px;
    width: 66%;
    padding-left: 11%;
    padding-top: 11%;
    line-height: 22px;
    color: #3F3333;
  }
  h3+p{
    font-family: Craftwork;
    font-size: 14px;
    width:  66%;
    padding-left: 11%;
    padding-top: 4%;
    line-height: 22px;
    color: #FFFFFF;
  }
  h4+p{
    font-size: 14px;
    width: 66%;
    padding-left: 11%;
    padding-top: 4%;
    line-height: 22px;
    color: #3F3333;
  }
  h3{
    font-family: Rainer2;
    font-size: 138px;
    color: #FFFFFF;
    display: inline-block;
  }
  h2{
    font-family: Rainer2;
    font-size: 64px;
    padding-top: 3%;
    padding-left: 3%;
    position: relative;
  }
  h4{
    font-family: Craftwork;
    font-size: 20px;
    width: 307px;
    padding-left: 11%;
    padding-top: 13%;
    position: relative;
    line-height: 38px;
    color: #3F3333;
  }
  .block1 , .block3 , .block5{
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
  }
  .block2 , .block4 {
    background-color: #41A1D3;
    height: 100vh;
    width: 100%;
  }
  .block6{
    background-color: #3F3333;
    height: 10vh;
    width: 100%;
  }
  .h4{
  color: #FFFFFF;
  }
  .h3, .h5{
  color: #41A1D3;
  }
  .n1{
    margin-left: -2%;
    padding-left: 57%;
    padding-top: 10%;
    display: block;
  }
  .n2{
    /* padding-left: 28%; */
    padding-top: 10%;
    padding-left: 54%;
    display: block;
  }
  .n3{
    /* padding-left: 28%; */
    padding-top: 10%;
    padding-left: 54%;
    display: block;
  }
  .tn1{
    margin-left: 26%;
    margin-top: -96%;
  }
  .tn2{
    margin-left: 26%;
    margin-top: -52%;
  }
  .tn3{
    margin-left: 26%;
    margin-top: -7%;
  }
  .tn1, .tn2, .tn3{
    font-family: Craftwork;
    font-size: 14px;
    width: 56%;
    position: absolute;
    /* left: 10%;
    top: 9%; */
    line-height: 22px;
    color: #FFFFFF;
    display: block;
  }
  .sidebar1 {
    position: absolute;
    font-family: Craftwork;
    color: #41A1D3;
    top: 0%;
    left: 5%;
    font-size: 14px;
    line-height: 29px;
  }
  .sidebar12 {
    position: absolute;
    font-family: Craftwork;
    color: #41A1D3;
    top: 0%;
    left: 19%;
    font-size: 14px;
    line-height: 29px;
  }
  .sidebar13 {
    position: absolute;
    font-family: Craftwork;
    color: #41A1D3;
    top: 0%;
    left: 35%;
    font-size: 14px;
    line-height: 29px;
  }
  .google{
    margin-top: 10%;
    margin-left: 7%;

    /* top: 3%;
    left: 3%; */
  }
  .f1, .f2, .f3{
  font-size: 10px;
  color: #FFFFFF;
  display: inline-flex;
  margin-left: 8%;
  margin-top: 1%;
  width: 25%;
  line-height: 17px;
  }

  .f2{
    /* padding-left: 5%; */
    width: 11%;
  }
.img6{
  display: none;
}

}



@media only screen and (min-device-width: 1365px) and (max-device-width: 1441px) {
  /* для среднего монитора */
  .img6{
    margin-top: -33%;
    margin-left: 50%;
  }
}
